{% extends 'base.html.twig' %}

{% block body %}

    {% for plat in plats %}
    
    <div>
        {{ plat.libelle }}
        <a href="/panier/ajout/{{plat.id}}">Ajouter au panier</a>
        <img src="{{ asset('assets/images_the_district/panier_logo_rond_plus.png')}}" class="rounded-3">
        <img src="{{ asset('assets/images_the_district/panier_logo_rond_moins.png')}}" class="rounded-3">
    </div>
    {% endfor %}

{% endblock %}