{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez District{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{# Boucle pour affichage des images et textes #}
<div class="example-wrapper">
    <h1>Voir les plats d'une catégorie</h1>
 {# Hello {{ controller_name }}! ✅
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/christopheg/Public/WebDistrict/src/Controller/CatalogueController.php'|file_link(0) }}">src/Controller/CatalogueController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/christopheg/Public/WebDistrict/templates/catalogue/index.html.twig'|file_link(0) }}">templates/catalogue/index.html.twig</a></code></li>
    </ul> #}
</div>
{# fin de boucle #}
{% endblock %}
